<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a class="u-email" href="{{ site.github }}"><div class="sc-color" data-icon="ei-sc-github" data-size="m"></div></a>
      </div>
      <div class="footer-col">
        <a class="u-email" href="{{ site.linkedin }}"><div class="sc-color" data-icon="ei-sc-linkedin" data-size="m"></div></a>
      </div>
    </div>

  </div>

</footer>
